ipython
jupyterlab
kedro~=0.19.2
kedro-datasets>=1.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
notebook
ruff~=0.1.8
ipykernel
pandas
seaborn
numpy
matplotlib
missingno
scikit-learn
ydata-profiling
optuna
optuna-dashboard
streamlit
pydantic
click
pytest
pytest-mock