STORAGE_DIR: ../tests/integration_tests/storage-tests
PGDATA: /var/lib/postgresql/data/pgdata
POSTGRES_PORT : 15432 
PGADMIN_PORT  : 15050 
MLFLOW_PORT   : 15000 
OPTUNA_PORT   : 18080

POSTGRES_USER: ${POSTGRES_USER}
POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
POSTGRES_DB: ${POSTGRES_DB}

PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

OPTUNA_DB_USER: ${OPTUNA_DB_USER}
OPTUNA_DB_PASSWORD: ${OPTUNA_DB_PASSWORD}

MLFLOW_DB_USER: ${MLFLOW_DB_USER}
MLFLOW_DB_PASSWORD: ${MLFLOW_DB_PASSWORD}
