STORAGE_DIR=../tests/integration_tests/storage-tests
PGDATA=/var/lib/postgresql/data/pgdata
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_IGNORE_TLS=true
POSTGRES_PORT=15432
PGADMIN_PORT=15050
MLFLOW_PORT=15000
OPTUNA_PORT=18080
MINIO_PORT1=19000
MINIO_PORT2=19001

POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=${POSTGRES_DB}

PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}

OPTUNA_DB_USER=${OPTUNA_DB_USER}
OPTUNA_DB_PASSWORD=${OPTUNA_DB_PASSWORD}

MLFLOW_DB_USER=${MLFLOW_DB_USER}
MLFLOW_DB_PASSWORD=${MLFLOW_DB_PASSWORD}

MINIO_ROOT_USER=${MINIO_ROOT_USER}
MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
MINIO_DEFAULT_BUCKETS=${MINIO_DEFAULT_BUCKETS}

AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
